$testing-red: #f00;
$testing-green: #0f0;
$testing-blue: #00f;

$black-color: #000;

$white-color: #fff;
$spring-leaf-green-color: #8bc04a;
$feijoa-fruit-green-color: #add280;
$deco-green: #b9d992;
$beryl-green-color: #c5dfa4;
$burnt-sienna-orange-color: rgba(235, 106, 59, 1);
$mariner-blue-color: #2f6bdb;
$night-sky-navy-color: #0e1c36;

// bootstrap overrides:
$info: $burnt-sienna-orange-color;
$primary: $mariner-blue-color;
$warning: rgba(235, 106, 59, .8);

$paper-white-color: #fefefe;
$charcoal-grey-color: #4e4e4e;
$metal-grey-color: #696969;
$whisper-grey-color: #e5e5e5;
$ghost-white-color: #f9fafe;
$muted-color: #6c757d;
$red-damask-color: #bf7954;

$warm-sky-color: #e0e6fe;
$peachy-color: #feeae0;
