$dropdown-text-color: $charcoal-grey-color;
$auth-form-background-color: $spring-leaf-green-color;
$small-form-text: $muted-color;
$small-form-error-text: $red-damask-color;
$body-background-color: $spring-leaf-green-color;
$body-font-color: $night-sky-navy-color;
$nav-background-color: $feijoa-fruit-green-color;
$merit-badge-gallery-title-color: $mariner-blue-color;
$dropdown-menu-background-color: $beryl-green-color;
$modal-background-color: $deco-green;
$section-background-color: $deco-green;
$badge-button-font-color: $night-sky-navy-color;
$strong-text-color: $mariner-blue-color;

.alert {
  height: 30px;
  line-height: 30px;
  margin-bottom: 1px;
  padding: 0 15px;
}

.auth-status {
  display: none;
}

.badges-status {
  display: none;
}

body {
  background-color: $body-background-color;
  color: $body-font-color;
}

.dropdown-menu {
  background-color: $dropdown-menu-background-color;
}

.dropdown-toggle {
  color: $dropdown-text-color;
}

.initial-auth-form {
  align-items: center;
  background-color: $auth-form-background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40;

  > .sign-in-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }
    }
  }

  > .sign-up-div {
    align-items: center;
    background-color: $auth-form-background-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 45;

    > form {
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      > label {
        align-self: flex-start;
      }

      > select {
        align-self: flex-start;
        width: 100%;
      }
    }
  }
}

.handlebars {
  &:not(:empty) {
    &::before {
      color: $merit-badge-gallery-title-color;
      content: 'Your Merit Badges:';
      font-size: 1em;
      text-align: left;
      width: 100%;
    }
  }
}

main {
  @include make-container;
  @include make-container-max-widths;

  .merit_badge {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    border: 1px solid;
    cursor: pointer;
    margin-right: -1px;
    margin-bottom: -1px;
    outline: none;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }

    small {
      color: $secondary;
      display: block;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

  .content {
    @include make-row;

    &:empty {
      &::before {
        color: lighten($info, 25%);
        content: '';
        font-size: 10vh;
        line-height: 0.85;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.modal-content {
  background-color: $modal-background-color;
}

.muted {
  color: $small-form-text;
}

.name-display {
  font-size: 2em;
}

nav {
  background-color: $nav-background-color;
  z-index: 9000;
}

.rank-display {
  font-size: 1.5em;
}

.scout-display {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
}

section {
  background-color: $section-background-color;

  button {
    color: $badge-button-font-color !important;
  }
}

.small-error {
  color: $small-form-error-text;
}

strong {
  color: $strong-text-color;
}

textarea {
  width: 100%;
  height: 4em;
}

.welclome-dropdown {
  display: none;
}
